@use "presets" as *;
@use "mixins" as *;

html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  margin: -$gap-md 0 0 1em;
  @include xs-min {
    font-size: 3rem;
  }
  @include xs {
    font-size: 2rem;
  }
}

h2 {
  font-family: $font-header;
  @include xs-min {
    font-size: 2.5rem;
  }
  @include xs {
    font-size: 1.75rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 $gap;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 $gap;
  }
}
section {
  position: relative;
  overflow: hidden;
}
