@use "presets" as *;
@use "mixins" as *;

.footer {
  background-color: $color-dark;
  // color: #6f6f6f;

  h4 {
    color: white;
  }

  .footer-top {
    a {
      color: $color-gray-dark;
    }
    a:hover,
    a:focus {
      text-decoration: none;

      color: $color-white;
    }
  }

  .footer-bottom {
    text-align: center;
    a {
      color: #d5d5d5;
    }
    a:hover,
    a:focus {
      text-decoration: none;

      color: $color-white;
    }
  }
}
