@use "presets" as *;
@use "mixins" as *;

.footer {
  background-color: $color-dark;
  // color: #6f6f6f;

  h4 {
    color: white;
  }

  .footer-bottom {
    text-align: center;
    a {
      color: white;
    }
  }
}
