@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom: $gap-xl;
}

.site-search {
  margin-bottom: $gap * 3;
}

.user-login {
  margin-bottom: $gap * 4;
}

.new-films,
.top-week {
  &-row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
  }
  &-item {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
    margin-bottom: $gap;

    &__title {
      @include text-shortener;
    }

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}

.new-films-item__thumbnail,
.new-films-item__title,
.top-week-item__thumbnail,
.top-week-item__title,
.film-news-item__thumbnail {
  color: black;
  &:hover,
  &:focus {
    // text-decoration: none;
    color: white;
    background: $color-accent;
  }
}
