@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom: $gap-xl;
}

.site-search {
  margin-bottom: $gap * 3;
}

.user-login {
  margin-bottom: $gap * 4;
}

.new-films,
.top-week {
  &-row {
    padding-left: -$gap-sm;
    padding-right: -$gap-sm;
    margin-bottom: -$gap;
  }
  &-item {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
    margin-bottom: $gap;

    &__title {
      @include text-shortener;
    }

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}

// .new-films-item__thumbnail:hover {
//   color: blue;
//   background-color: red;
//   // border-color: $color-accent;
// }

// li a:hover {
//   color: #ffe; /* Цвет текста активного пункта */
//   background-color: #5488af; /* Цвет фона активного пункта */

// .top-week-item__title {
//   // .film-news-item__image
//   color: $color-primary;

//   &:hover,
//   &:focus {
//     text-decoration: none;
//     color: $color-accent;
//   }
// }

// .film-news-item__image:hover,
// .film-news-item__image:focus {
//   color: $color-white !important;
//   background-color: $color-accent !important;
//   border-color: $color-accent;
// }
// }

// .new-films,
// .top-week,
// .film-news-item {
//   color: $color-primary;

//   &:hover,
//   &:focus {
//     text-decoration: none;
//     color: $color-accent;
//   }
// }
